* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  user-select: none;
  cursor: default;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 32px;
  font-size: 32px;
}

#select-male {
  background: #17c0eb;
}

#select-female {
  background: #ffb8b8;
}

#name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ok {
  background: #3ae374;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nah {
  background: #ff3838;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: #7158e2;
  transition: width linear 1s;
  border-radius: 0 10px 10px 0;
}

#results-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px 12px;
  background: #c56cf0;
  color: white;
  z-index: 1000;
}

#results-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}

#results-modal > div {
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  margin: 16px;
}

#result-names {
  list-style: none;
  margin: 16px 0;
}

#result-names li {
  margin-bottom: 6px;
  font-size: 24px;
}

#title,
#name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  text-align: center;
}

#select-male,
#nah {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 50vw;
  text-align: center;
  display: inline-block;
}

#select-female,
#ok {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50vh;
  width: 50vw;
  text-align: center;
  display: inline-block;
}
